.linksContainer {
  display: flex !important;
  justify-content: center;
  align-items: center;
  gap: 100px;
  padding-top: 20%;
}

.emailLink,
.passwordLink {
  text-decoration: none;
  color: inherit;
  padding: 60px 80px;
  border: 1px solid #999;
  border-radius: 20px;
  transition: all 0.3s;
  box-shadow: 4px 4px 8px -5px rgb(66 68 90);
}

.emailLinkContainer,
.passwordLinkContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.emailSvg,
.passwordSvg {
  width: 48px;
  height: auto;
  margin-bottom: 20px;
}

.emailLinkText,
.passwordLinkText {
  font-size: 24px;
}

.emailLink:hover,
.passwordLink:hover {
  background-color: #f5f5f5;
  border: 1px solid transparent;
}

@media (max-width: 2560px) {
  .linksContainer {
    display: flex !important;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding-top: 20%;
  }
}

@media (max-width: 1000px) {
  .linksContainer {
    gap: 75px;
  }
}

@media (max-width: 800px) {
  .emailLink,
  .passwordLink {
    padding: 30px 40px;
  }
}

@media (max-width: 600px) {
  .linksContainer {
    gap: 50px;
  }
  .emailSvg,
  .passwordSvg {
    width: 32px;
  }
  .emailLinkText,
  .passwordLinkText {
    font-size: 20px;
  }
}

@media (max-width: 500px) {
  .linksContainer {
    flex-direction: column;
    margin-top: 100px;
  }

  .emailLink,
  .passwordLink {
    padding: 60px 80px;
  }

  .emailSvg,
  .passwordSvg {
    width: 48px;
  }

  .emailLinkText,
  .passwordLinkText {
    font-size: 24px;
  }
}

@media (max-width: 400px) {
  .emailLink,
  .passwordLink {
    padding: 40px 60px;
  }
}

@media (max-width: 330px) {
  .emailSvg,
  .passwordSvg {
    width: 32px;
  }
  .emailLinkText,
  .passwordLinkText {
    font-size: 20px;
  }

  .emailLink,
  .passwordLink {
    padding: 30px 40px;
  }
}
