.logout {
  background: #fff;
  color: #000;
  padding: 14px 32px;
  font-size: 16px;
  border: none;
  text-decoration: none;
  border-radius: 10px;
  transition: all 0.2s;
  box-shadow: 3px 3px 8px -3px rgb(66 68 90);
}

.logout:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}
