.formContainer {
  display: flex;
  justify-content: center;
}

.emailInput {
  display: grid;
}

.passwordInput {
  display: grid;
}

.loginControlButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
}
