.formContainer {
  display: flex;
  justify-content: center;
}

.emailInput {
  display: grid;
  margin: 20px 0 10px 0;
}

.passwordInput {
  display: grid;
  margin-bottom: 20px;
}

.loginControlButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
}
