.calendar {
  padding: 35px 50px;
}

.pageContainer {
  display: grid !important;
  grid-template-columns: 1fr 3.5fr;
}

.modalOpen {
  display: grid !important;
  grid-template-columns: 1fr 3.5fr;
}

@media (max-height: 650px) {
  .pageContainer,
  .modalOpen {
    grid-template-columns: 1fr;
  }
}
