.calendar {
  padding: 50px 50px 50px 50px;
  height: vh;
}

.pageContainer {
  display: grid !important;
  grid-template-columns: 1fr 3.5fr;
}

.modalOpen {
  /* opacity: 10%; */
  /* z-index: 0; */
  display: grid !important;
  grid-template-columns: 1fr 4fr;

  /* -webkit-backdrop-filter: blur(10px); */
}
