.footer {
  width: 100%;
  height: 80px;
  position: fixed;
  bottom: 20px;
}

.footerTextContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.message {
  font-size: 20px;
}

.anchor {
  text-decoration: none;
  color: inherit;
  transition: all 0.2s;
  margin-top: 15px;
  font-size: 20px;
}

.anchor:hover {
  font-weight: bold;
  transform: scale(1.1);
}
