.header {
  height: 80px;
  background-color: #fbf8f1;
  box-shadow: 0 2px 10px rgb(0 0 0 / 20%);
  display: flex;
  align-items: center;
  border-bottom: 1px solid #d9dade;
  padding: 0 5%;
  z-index: 999;
}

.login,
.settings {
  background: #fff;
  color: #000;
  padding: 12px 32px;
  /* border: 1px solid #999; */
  text-decoration: none;
  border-radius: 10px;
  transition: all 0.2s;
  box-shadow: 3px 3px 8px -3px rgb(66 68 90);
}

.naviMain {
  background: #fff;
  border-radius: 10px;
  padding: 12px 24px;
  text-decoration: none;
  transition: all 0.2s;
  color: inherit;
  box-shadow: -3px 3px 8px -3px rgb(66 68 90);
}

.naviMain:hover,
.login:hover,
.settings:hover {
  background-color: #f5f5f5;
  /* border: 1px solid transparent; */
}

.list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0 !important;
}

.nav {
  width: 100%;
}

.userControlContainer {
  display: flex;
  align-items: center;
  gap: 30px;
}

.settings {
  font-size: 16px;
}
