.formContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.emailInput {
  display: grid;
  /* margin: 20px 0px 0px 0px; */
  margin: 20px 0;
}

.passwordInput {
  display: grid;
}
