.formContainer {
  border: 1px solid #dfdfe0;
  width: 550px;
  height: 400px;
  position: relative;
  border-radius: 20px;
  box-shadow: 2px 2px 8px -3px rgb(66 68 90);
  background-color: #fff2ec;
}

.passwordChangeTitle {
  height: 50px;
  border-bottom: 1px solid #868686;
  text-align: center;
}

.goBackButton {
  position: absolute;
  top: 10px;
  left: 20px;

  padding: 6px 14px;
  font-size: 24px;
  text-decoration: none;
  border-radius: 50%;
  border: 1px solid #868686;
  transition: all 0.3s;
}

.goBackButton:hover {
  border: 1px solid transparent;
  background-color: #f0aaaa;
}

.passwordChangeForm {
  display: flex;
  flex-direction: column;
  padding: 0 25%;
  align-items: flex-start;
  margin-top: 35px;
  position: relative;
}
