.formContainer {
  border: 1px solid #dfdfe0;
  width: 550px;
  height: 280px;
  position: relative;
  border-radius: 20px;
  box-shadow: 2px 2px 8px -3px rgb(66 68 90);
  background-color: #fff2ec;
}

.formHeader {
  position: relative;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #868686;
}

.settingsForm {
  display: flex !important;
  flex-direction: column;
  padding: 0 25%;
  align-items: flex-start;
  margin-top: 35px;
  position: relative;
}

.emailLabel {
  font-size: 24px;
  margin-bottom: 10px;
}

.emailInput {
  width: 250px;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 20px;
  border: 1px solid #999;
  border-radius: 5px;
}

.changeEmailButton {
  padding: 8px 16px;
  border-radius: 10px;
  border: none;
  background-color: #fff;
  box-shadow: 2px 2px 8px -3px rgb(66 68 90);
  transition: all 0.3s;
  font-size: 16px;
}

.changeEmailButton:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}

.goBackButton {
  position: absolute;
  top: 5px;
  left: 20px;
  padding: 6px 14px;
  font-size: 24px;
  text-decoration: none;
  border-radius: 50%;
  border: 1px solid #868686;
  transition: all 0.3s;
}

.goBackButton:hover {
  border: 1px solid transparent;
  background-color: #f0aaaa;
}
.successMessageContainer {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.successfulMessage,
.redirectAnnouncement {
  font-size: 16px;
}

.successfulMessage {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 18px;
  border-radius: 15px;
  background-color: #0dfb43;
  box-shadow: 2px 2px 8px -3px rgb(66 68 90);
  padding: 10px 15px;
}
.spinnerContainer {
  text-align: center;
  margin-top: 80px;
}

.redirectAnnouncement {
  text-align: center;
  font-size: 18px;
}

.errorMessageContainer {
  background-color: #ea2027;
  margin-top: 80px;
  border-radius: 15px;
  box-shadow: 2px 2px 8px -3px rgb(66 68 90);
  padding: 15px 20px;
}

.errorMessage {
  font-weight: bold;
  text-align: center;
  font-size: 18px;
}

.reAuthContainer {
  border-radius: 15px;
  background-color: #0dfb43;
  box-shadow: 2px 2px 8px -3px rgb(66 68 90);
  margin: 0 20%;
  padding: 20px;
  margin-top: 50px;
}

.reAuthMessage {
  font-size: 18px;
  text-align: center;
  font-weight: bold;
}

@media (max-width: 600px) {
  .formContainer {
    width: 400px;
  }

  .settingsForm {
    padding: 0 15%;
  }
}

@media (max-width: 450px) {
  .formContainer {
    width: 300px;
    height: 240px;
  }

  .settingsForm {
    padding: 0 10%;
    margin-top: 20px;
  }

  .goBackButton {
    left: 10px;
  }

  .emailChangeTitle {
    font-size: 20px;
  }

  .emailLabel {
    font-size: 20px;
  }

  .emailInput {
    width: 200px;
    font-size: 14px;
  }

  .reAuthContainer {
    margin-top: 30px;
  }

  .reAuthMessage {
    font-size: 16px;
  }

  .errorMessageContainer {
    margin-top: 50px;
  }

  .errorMessage {
    font-size: 16px;
  }
}
